[Unit]
Description=Sway bspw style window switcher
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
Restart=always
ExecStart=persway -a -o 100 

