[Unit]
Description=Liba sound server
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Environment=LIBASOUND_DEBUG=1
Type=simple
Restart=always
ExecStart=scream -o pulseaudio -i virbr0 -v -u -p 4011

